.wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .info {
        display: flex;
        align-items: center;
        gap: 20px;
        .img {
            width: 76px;
            height: 76px;
            object-fit: cover;
            border-radius: 50%;
        }
        .name {
            font-size: 3rem;
            font-weight: 500;
            width: min(300px, 100%);
            text-align: left;
        }
    }
    .price {
        font-size: 3rem;
        font-weight: 500;
    }
}
