.wrapper {
    background-color: #111114;
    font-size: 1.6rem;
    font-weight: 400;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    padding: 8px 30px;
    border: none;
    cursor: pointer;
    transition: ease 0.4s;
    &:hover {
        background-color: #27272e;
    }
}
.large {
    padding: 15px 30px;
}

.text {
    position: relative;
    background-color: transparent;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 0;
    min-width: 0;
    &::after {
        content: '';
        position: absolute;
        height: 1px;
        bottom: -5px;
        left: 0;
        right: 0;
        background-color: #fff;
        transition: ease 0.4s;
    }
    &:hover {
        color: #ff7b01;
        background-color: transparent;
    }
    &:hover::after {
        bottom: -7px;
        background-color: #fb8f2c;
    }
}

.primary {
    background-color: #fb8f2c;
    color: #fff;
    &:hover {
        background-color: #ff7b01;
    }
}
.disabled {
    opacity: 0.4;
    cursor: not-allowed;
}
.title {
    display: flex;
    align-items: center;
    gap: 6px;
}
