.wrap {
    padding: 10px 0px;
    .main {
        position: relative;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 26px;
        padding: 14px;
        background-color: transparent;
        color: #fff;
        &::after {
            content: '';
            position: absolute;
            width: 6px;
            height: 6px;
            background-color: #fff;
            border-radius: 50%;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .desc {
        width: min(770px, 100%);
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 26px;
        color: #ffffffcc;
    }
}
