.form {
    .ant-input-suffix {
        width: 20px;
        height: 20px;
    }

    .ant-input-outlined:focus-within {
        box-shadow: none;
        background-color: transparent;
    }
    .ant-picker-clear {
        color: #fff !important;
    }
    .ant-select-arrow {
        color: #fff !important;
    }

    .select-wrap {
        .ant-select-selector {
            background-color: transparent !important;
            border: none !important;
            color: #fff !important;
            font-size: 1.6rem;
            font-weight: 400;
        }
    }
}
