.date {
    border-radius: 0 !important;
    padding: 10px 20px;
    width: 100%;
    background: #ffffff1a;
    border: none;
    color: #fff;
    &:hover {
        background-color: #686666;
    }
}
.select {
    width: 100% !important;
}
