@use '../../../../../../../components/GlobalStyles//abstracts/' as abs;

.cart {
    cursor: pointer;
    padding: 15px 10px;
    background-color: #fff;
    border-radius: 10px;
    @include abs.screen(lg) {
        display: none;
    }
    .wrap {
        display: flex;
        align-items: center;
        gap: 10px;
        .price {
            font-size: 2rem;
            font-weight: 500;
            color: #000;
        }
        .icon {
            width: 25px;
            height: 25px;
            color: #000;
        }
    }
}

.dropdown {
    width: 500px;
    background-color: #212121;
    padding: 20px;
    border-radius: 10px;
    .sub-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        .quantity {
            font-size: 2.4rem;
            font-weight: 400;
            color: #fff;
        }
        .link {
            display: inline-block;
            font-size: 1.8rem;
            font-weight: 400;
            color: #fff;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .items {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 10px;
        overflow-x: auto;
        .item {
            flex-shrink: 0;
            width: 150px;
            margin-bottom: 20px;
            .img {
                border-radius: 10px;
                width: 100%;
                height: 150px;
                object-fit: cover;
                border: 1px solid #ccc;
            }
            .info {
                display: flex;
                flex-direction: column;
                gap: 10px;
                .item-name {
                    word-break: break-word;
                    font-size: 1.8rem;
                    font-weight: 400;
                    color: #ccc;
                    display: -webkit-box; /* Đặt chế độ hiển thị cho hộp chứa văn bản */
                    -webkit-box-orient: vertical; /* Đặt hướng của hộp văn bản theo chiều dọc */
                    -webkit-line-clamp: 2; /* Giới hạn số dòng văn bản hiển thị */
                    overflow: hidden; /* Ẩn phần văn bản bị cắt bớt */
                    text-overflow: ellipsis; /* Thay thế phần văn bản bị cắt bớt bằng dấu ba chấm */
                }
                .price {
                    font-size: 1.6rem;
                    font-weight: 400;
                    color: #fff;
                }
            }
        }
    }
}
.bill {
    margin-top: 20px;
    padding: 10px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.btn-wrap {
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    .btn {
        border-radius: 10px;
        font-size: 1.8rem;
        font-weight: 600;
    }
}
.dropdown {
    position: relative;
    margin-top: 10px;
    .custom-dropdown-arrow {
        position: absolute;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid #212121;
        top: -5px;
        right: 10%;
    }
}
