@use '../../components/GlobalStyles/abstracts/' as abs;
.contact {
    padding: 70px 0px;
    .banner {
        display: flex;
        position: relative;
        padding-top: 90%;
        text-align: center;
        @include abs.screen(lg) {
        }
        .img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.form-contact {
    padding: 100px 0px;
}
