.contact {
    padding: 70px 0px;
    .banner {
        width: 100%;
        text-align: center;
        .img {
            width: 470px;
            height: 550px;
            object-fit: cover;
        }
    }
}
.form-contact {
    padding: 100px 0px;
}
