.blog {
    text-align: center;
    padding: 70px 0px;
    .wrapper {
        .sub-title {
            display: inline-block;
            font-size: 1.6rem;
            font-weight: 400;
            color: #ffffffcc;
            margin-bottom: 20px;
        }
        .title {
            font-size: 6.4rem;
            font-weight: 500;
            margin-bottom: 60px;
        }
    }
    .btn-more {
        display: flex;
        align-items: center;
        margin: 0 auto;
        margin-top: 50px;
        width: min(142px, 100%);
    }
}
.btn-arrow {
    width: 20px;
    height: 20px;
}
