@use '../../../../../components/GlobalStyles/abstracts/' as abs;

.list {
    display: flex;
    align-items: center;
    gap: 34px;
    transition: ease 0.4s;
    @include abs.screen(lg) {
        position: fixed;
        padding: 30px;
        z-index: 999;
        top: 0;
        bottom: 0;
        left: -100%;
        width: 50%;
        background-color: #111114;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        flex-direction: column;
        align-items: flex-start;
        box-shadow: 0px 40px 90px 20px #171717;
        gap: 0;
        overflow-y: auto;

        &.active {
            left: 0;
        }
    }
    @include abs.screen(md) {
        width: 80%;
    }
    .item {
        @include abs.screen(lg) {
            width: 100%;
        }
    }
    .link {
        transition: ease 0.4s;
        padding: 10px 0px;
        font-size: 1.8rem;
        font-weight: 100;
        color: #ffffffcc;
        text-decoration: none;
        &:hover {
            color: #fb8f2c;
        }
        @include abs.screen(lg) {
            display: block;
            padding: 20px 0px;
            font-size: 2rem;
        }
    }
    .prev-arrow {
        display: none;
        background-color: transparent;
        border: none;
        width: 30px;
        height: 30px;
        color: #fff;
        @include abs.screen(lg) {
            display: flex;
            width: 40px;
            height: 40px;
        }
    }
    .booking {
        display: none;
        font-size: 2rem;
        font-weight: 600;
        color: #ccc;
        cursor: pointer;
        color: #fb8f2c;
        &:hover {
            text-decoration: underline;
        }
        @include abs.screen(lg) {
            display: block;
            margin-top: 20px;
        }
    }
}

.cart {
    position: relative;
    display: none;
    padding: 20px 0px;
    border-top: 1px solid #ccc;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    @include abs.screen(lg) {
        display: flex;
    }
    .cart-wrap {
        display: flex;
        align-items: center;
        gap: 20px;
        .icon {
            position: relative;
            width: 30px;
            height: 30px;
            &::after {
                position: absolute;
                content: '';
                position: absolute;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: red;
                top: 0;
                right: -4px;
                display: none;
            }
        }
        .icon.active {
            &::after {
                display: block;
            }
        }
        .name {
            font-size: 2rem;
            font-weight: 400;
        }
    }
    .price {
        font-size: 2.2rem;
        font-weight: 500;
    }
}
