.history {
    .wrapper {
        width: 100%;
        background-color: #191919;
        border-radius: 10px;
        padding: 20px;
    }
    .title {
        font-size: 5rem;
        font-weight: 500;
        color: #fff;
        margin-bottom: 20px;
    }
}
