@use '../../../../components/GlobalStyles/GlobalStyle.scss' as abs;
.wrap {
    display: flex;
    flex-direction: column;
    @include abs.screen(lg) {
        border-bottom: 1px solid #ccc;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
    .title {
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 20px;
    }
    .info {
        padding: 10px 0px;
        font-size: 2rem;
        font-weight: 600;
        .sub {
            font-weight: 400;
        }
    }
}
.info-total {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 20px;
    .sub-total {
        color: red;
    }
}
