.modal {
    z-index: 99999;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    &.active {
        opacity: 1;
        visibility: visible;
    }
    .bg {
        position: absolute;
        inset: 0;
        background-color: #000;
        opacity: 0.7;
        z-index: 10;
    }
    .content {
        position: absolute;
        z-index: 12;
        display: flex;
        flex-direction: column;
        gap: 30px;
        background-color: #ccc;
        padding: 20px;
        border-radius: 10px;
        background-color: #212121;
        .title {
            font-size: 2rem;
            font-weight: 600;
            color: #fff;
        }
        .desc {
            font-size: 1.6rem;
            font-weight: 500;
            color: #ccc;
        }
    }
}
.btn-wrap {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #4d6db5;
    font-size: 1.8rem;
    font-weight: 500;
    margin-left: auto;
    cursor: pointer;
    &:hover {
        color: red;
    }
}
