.header {
    padding: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
        width: 53px;
        height: 55px;
        object-fit: cover;
    }
}
