.tranfer-method {
    margin-top: 60px;
    width: min(570px, 100%);
    padding: 20px;
    background: #6565651a;
    border: 1px solid #727171cc;

    .desc {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 24px;
        color: #ccc;
        margin-bottom: 20px;
        width: min(420px, 100%);
        .link {
            color: #fb8f2c;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .btn {
        width: 100%;
        padding: 10px 0px;
    }
    .radios {
        margin-bottom: 40px;
        .title {
            font-size: 2.6rem;
            margin-bottom: 20px;
            font-weight: 500;
        }
    }
}
