.menu-wrap {
    padding: 70px 0px;
}
.wrapper {
    text-align: center;
    .title {
        font-size: 6.4rem;
        font-weight: 500;
        line-height: 74px;
        margin-bottom: 6px;
    }
    .decor {
        display: inline-block;
        margin-bottom: 60px;
    }
}
.slider-wrap {
    position: relative;
}
