.related {
    padding: 70px 0px;
}
.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 34px;
    margin-bottom: 40px;
}
