.slider-controler {
    margin: 0 auto;
    width: min(120px, 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-top: 20px;
    .swiper-button-prev,
    .swiper-button-next {
        z-index: 10;
        transition: ease 0.4s;
        cursor: pointer;
        user-select: none;
    }
    .swiper-button-prev {
        &:hover {
            transform: translateX(-5px);
        }
    }
    .swiper-button-next {
        &:hover {
            transform: translateX(5px);
        }
    }
}
